/*
    author: Matt McCain
    updated: 5/2/22
    description: p0 CSS
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --mainDarkColor: hsl(238, 68%, 10%);
    --mainLightColor: hsl(52, 46%, 90%);
}

body {
    background-color: var(--mainDarkColor);
    color: var(--mainLightColor);
    width: 80%;
    margin: auto;
}

h1 {
    font-size: 8vw;
    font-family:'Roboto Mono', Courier, monospace;
    display: flex;
    justify-content: center;
    margin: auto;
}

h2 {
    font-size: 4vw;
}

p {
    margin-right: 20%;
}

header {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#logo {
    height: 15vw;
    border-radius: 30%;
}

a, a:link, a:visited {
    color: white;
}

a:hover {
    color: red;
}

a:active {
    color:yellowgreen;
}

table {
    text-align: center;
}

.selections {
    display: inline-block;
}

#results {
    display: flex;
    justify-content: center;
}

@media (min-width: 1280px) {
    #logo {
        height: 10em;
    }

    h1 {
        font-size: 5em;
    }

    h2 {
        font-size: 3em;
    }
}