/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #0093E9;
    background-image: linear-gradient(190deg, #0093E9 0%, #80D0C7 100%);
    height:100vh;
    font-family: monospace;
    overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 10%;
}
header {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    justify-content: space-between;
}
header img {
    width: 15%;
    height: 15%;
    padding-right:1rem;
}
.left {
    display: flex;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 1rem;
}
.location {
    transform: translateX(-10px);
}
.container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}
.daily{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.forecast {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 10%;
    width: 100%;
}
.currentInfo {
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
    vertical-align: middle;
}
th, td {
    padding: .5rem;
    border: 1px solid black;
}
#date, #temp, #feel {
    font-size: 1rem;
}
input{
    width: 100px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0093E9;
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer a {
    padding-right: 5rem;
}

@media only screen and (max-width: 600px) {
    header img {
        width: 20%;
    }
    h1 {
        font-size: 2rem;
    }
    .daily {
      flex-direction: column;
    }
  }