h2{
    font-size: larger;
    color: green;
}

div{
    color: white;
    font-size: 20px;
float: right;
    align-items: right;

    align-content: center;
flex-direction: column;
margin: 0, auto;
display: flex;
flex-direction: right;
justify-content: space-around;
align-items: right;
}

html{
    background-image: url(../images/star\ field.jpeg);
    height: 1000px;
    background-size: cover;
    background-repeat: repeat;
    color: white;
    align-items: center;
    

}

head{
    font-size: 1000px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

#splash{
    height: 100vh;
    width: 100vw;
    background-color: darkorange;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

header{
    display: flex;
    text-align: center;

    width: 100px;

    
}



.planetssection button{
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: left;
    align-items: center;
}
.planetssection button:hover {
    cursor: pointer;
}

button:hover{
    cursor: pointer;
    color: green;
}

.App {
    flex-direction: column;
}

.DisplaySection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table, th, td, tr{
    background-color: darkgreen;
    border-color: yellow;
    border-radius: 3px;
    color: white;


}
