/*
    Author: Samir Kalouf
    Last Update: 05/02/2022
    Description: My styleshhet for the catDatabse.
*/



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: ;
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.logoImg {
    height: 150px;
    width: 150px;
    border-radius: 30px;
    margin: 10px;
}

.navItem {
    color: hsl(0, 90%, 39%);
    background-color: black;
    padding: 10px;
    font-size: 25px;
}

h1,
h2,
h3,
h4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    word-break: normal;
}

#container {
    width: 600px;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none
}

.catTag {
    color: hsl(0, 90%, 39%);
    background-color: black;
    padding: 10px;
    font-size: 25px;
    margin: 20px;
    border-radius: 30px;
}

#catFactBtn {
    color: hsl(0, 90%, 39%);
    background-color: black;
    padding: 10px;
    font-size: 25px;
    margin: 20px;
    border-radius: 30px;
}